<section class="products__table">
  <h1 class="titulo">Products</h1>
  <div class="table__categories">
    {{#each products.docs}}
      {{#if this.available}}
      <article class="categories__item">
        <div class="item__foto">
          <div><a href={{this.thumbnail.[0]}} target="_blank"><img class="thumbnail" src={{this.thumbnail.[0]}} alt={{this.thumbnail.[0]}}></a></div>
        </div>
        <div class="item__texto">
          <div class="id">Id: {{this._id}}</div>
          <div class="code">Code: {{this.code}}</div>
          <div class="category">Category: {{this.category}}</div>
          <div class="title">Title: {{this.title}}</div>
          <div class="price">Price: {{this.price}}</div>
          <div class="stock">Stock: {{this.stock}}</div>
          <div>
            <button>Añadir al carrito</button>
          </div>
        </div>
      </article>
      {{/if}}
    {{/each}}
  </div>
  <div class="container">
    <div>
      {{#if products.prevPage}}
      <a href="/products?page={{products.prevPage}}{{#if product.sort}}&sort={{products.sort}}{{/if}}{{#if products.limit}}&limit={{products.limit}}{{/if}}">Anterior</a>
      {{/if}}
      {{#if products.nextPage}}
      <a href="/products?page={{products.nextPage}}{{#if product.sort}}&sort={{products.sort}}{{/if}}{{#if products.limit}}&limit={{products.limit}}{{/if}}">Siguiente</a>
      {{/if}}
    </div>
    <div>
      <a href="/products?page={{products.page}}{{#if limit}}&limit={{limit}}{{/if}}&sort=asc">⬇</a>
      <a href="/products?page={{products.page}}{{#if limit}}&limit={{limit}}{{/if}}&sort=desc">⬆</a>
    </div>
    <a href="/products?page={{products.page}}{{#if limit}}&limit={{limit}}{{/if}}">X</a>
    <div>
        <p>Página {{products.page}} de {{products.totalPages}}</p>
        <p>{{products.totalDocs}} Documentos</p>
    </div>
    <a href="/cart">Ir al carrito</a>
  </div>
</section>
