<section class="products__table">
  <h1 class="titulo">Products</h1>
  <div class="table__categories">
    {{#each products.productsFound.docs}}
      {{#if this.available}}
      <article class="categories__item">
        <div class="item__foto">
          <div><a href={{this.thumbnail.[0]}} target="_blank"><img class="thumbnail" src={{this.thumbnail.[0]}} alt={{this.thumbnail.[0]}}></a></div>
        </div>
        <div class="item__texto">
          <div class="id">Id: {{this._id}}</div>
          <div class="code">Code: {{this.code}}</div>
          <div class="category">Category: {{this.category}}</div>
          <div class="title">Title: {{this.title}}</div>
          <div class="price">Price: {{this.price}}</div>
          <div class="stock">Stock: {{this.stock}}</div>
          <a href="http://localhost:8080/api/products/{{this._id}}" target="_blank">
            <button>Detalle</button>
          </a>
        </div>
      </article>
      {{/if}}
    {{/each}}
  </div>
    <div>
      {{#if products.productsFound.prevPage}}
      <a href="/products?page={{products.productsFound.prevPage}}{{#if product.productsFound.sort}}&sort={{products.productsFound.sort}}{{/if}}{{#if products.productsFound.limit}}&limit={{products.productsFound.limit}}{{/if}}">Anterior</a>
      {{/if}}
      {{#if products.productsFound.nextPage}}
      <a href="/products?page={{products.productsFound.nextPage}}{{#if product.productsFound.sort}}&sort={{products.productsFound.sort}}{{/if}}{{#if products.productsFound.limit}}&limit={{products.productsFound.limit}}{{/if}}">Siguiente</a>
      {{/if}}
    </div>
    <div>
      <a href="/products?page={{products.productsFound.page}}{{#if limit}}&limit={{limit}}{{/if}}&sort=asc">Ascendente</a>
      <a href="/products?page={{products.productsFound.page}}{{#if limit}}&limit={{limit}}{{/if}}&sort=desc">Descendente</a>
    </div>
    <div class="listadoInfoProducts">
        <a href="/products?page={{products.productsFound.page}}{{#if limit}}&limit={{limit}}{{/if}}">Reset</a>
        <p><span>Página {{products.productsFound.page}} de {{products.productsFound.totalPages}}</span>, <span>{{products.productsFound.totalDocs}} Documentos</span> y <span>{{products.skip}} Omitidos</span></p>
    </div>
</section>
