<h1>Mi Perfil</h1>

<p>Id: {{user.id}}</p>
<p>Bienvenido: {{user.first_name}} {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Role: {{user.role}}</p>

<a href="/admin">
    <button>Volver</button>
</a>
<a href="/api/sessions/logout">
    <button>Logout</button>
</a>
